.App {
  text-align: left;
  background-color: #181818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html {
  background-color: #181818;
  font-family: Inter;
}

.App-link {
  color: #61dafb;
}