@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fontsource/inter/300.css"; /* Font-weight 300 */
@import "~@fontsource/inter/600.css"; /* Font-weight 600 */
@import "~@fontsource/inter/700.css"; /* Font-weight 700 */

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
